:root {
    --sec-color: #991b1f;
}

.galleryHead {
    height: 500px;
    background-color: rgb(0 0 0 / 30%)
}

.GalleryTitle {
    font-size: 60px;
    position: relative;
}

.GalleryTitle::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 20%;
    height: 2px;
    background-color: var(--sec-color);
}

@media (max-width:768px) {
    .GalleryTitle {
        font-size: 40px;
        position: relative;
    }

    .GalleryTitle::before {
        width: 15%;
    }
}